{% set homepage_featured_bottom_1 = ad('homepage-featured_bottom_1') %}
{% set columns = 2 %}
{% set rowCounter = 1 %}
{% set dataCounter = 0 %}
{% set newRow = true %}

{% set btCols = (12 / columns)|round(0, 'ceil') %}

{% if homepage_featured_bottom_1 is not empty %}
    {% for ad in homepage_featured_bottom_1 %}
        {% if newRow %}
            <div class="alpha">
            {% set newRow = false %}
        {% endif %}

        <div class="col-md-{{ btCols }}">
            <div class="announcement announcement__homepage-featured announcement__homepage-featured--bottom">
                <a href="{{ url('ad_redirect', { 'uuid': ad.uuid }) }}">
                    <img src="{{ ad.image }}" title="{{ ad.title }}">
                </a>
            </div>
        </div>

        {% if (rowCounter / columns) == 1 or (rowCounter % columns) == 0 or (homepage_featured_bottom_1|length - dataCounter) < columns %}
            </div>
            {% set newRow = true %}
        {% endif %}

        {% set rowCounter = rowCounter + 1 %}
        {% set dataCounter = dataCounter + 1 %}
    {% endfor %}
{% endif %}